<html ng-app="intergarchapp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Intergarchapp</title>
	<link rel="stylesheet" href="css/Inter.min.css" />
	<link rel="stylesheet" href="css/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="css/jquery.mobile.structure-1.4.3.min.css" />
	<link rel="stylesheet" href="css/main.css" />
	<script src="js/lib/jquery-1.11.1.min.js"></script>
	<script src="js/lib/jquery.mobile-1.4.3.min.js"></script>
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-touch.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/controllers/mainController.js"></script>
	<script src="js/controllers/estadisticasController.js"></script>
	<script src="js/controllers/proximaFechaController.js"></script>
	<script src="js/controllers/jugadoresController.js"></script>
</head>
<body ng-controller="mainController">
	<div data-role="page" data-theme="a">
		<div data-role="panel" id="panel" data-display="overlay"> 
			<h3>Navegador</h3>
			<ul data-role="listview">
				<li><a href="#est" ng-click="pageChanger('estadisticas')" data-rel="close">Estadisticas</a></li>
				<li><a href="#prox" ng-click="pageChanger('proxima')" data-rel="close">Proxima Fecha</a></li>
				<li><a href="#jug" ng-click="pageChanger('jugadores')" data-rel="close">Jugadores</a></li>
			</ul>
			<br><br>
			<h3>Configuracion</h3>
			<label for="autorefresh"> Segundos de actualizacion:</label>
			<input type="number" data-mini="true" ng-model="autorefresh" id="autorefresh" ng-change="setAutorefresh()"/>
		</div>

		<div data-role="header" data-position="fixed">
			<a href="#panel" class="ui-btn ui-corner-all ui-shadow ui-icon-bars ui-btn-icon-left ui-btn-icon-notext"></a>
			<h1>Intergarchapp</h1>
			<a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-refresh ui-btn-icon-left ui-btn-icon-notext" ng-click="refresh()"></a>
		</div>

		<div data-role="content" data-theme="a">

			<div ng-controller="estadisticasController" ng-show="estshow">
				<h2>Estadisticas</h2>
				<iframe id="itable" scrolling="no" src="http://www.datafutbol.net/comunidad/campeonato/tablas/545#tabla-posiciones-1692" ng-show="iframeshow"></iframe>
				<table data-role="table" id="my-table" data-mode="columntoggle" ng-show="!iframeshow">
					<thead>
						<tr>
							<th> </th>
							<th>Equipo</th>
							<th>PJ</th>
							<th>DG</th>
							<th>Ptos</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="equipo in equipos">
							<td>{{$index+1}}</td>
							<td>{{equipo.nombre}}</td>
							<td>{{equipo.pj}}</td>
							<td>{{equipo.dg}}</td>
							<td>{{equipo.ptos}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div ng-controller="proximaFechaController" ng-show="proxshow">
				<h2>Proxima Fecha</h2>
                <img src="http://www.360sports.com.ar/images/horarios_domingos.jpg" ng-class="{zoom1: zo, zoom2: zt}" ng-click="zoom()"/>
			</div>
			<div ng-controller="jugadoresController" ng-show="jugshow">
				<h2>Jugadores</h2>
				<form ng-submit="nuevo()">
					<input type="text" data-mini="true" ng-model="nombreNuevo"/>
				</form>
				<table data-role="table" data-mode="columntoggle" ng-show="!iframeshow">
					<thead>
						<tr>
							<th></th>
							<th>Nombre</th>
							<th>¿Juega?</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="jugador in jugadores">
							<td><span ng-show="false">{{jugador._id}}</span>{{$index+1}}</td>
							<td>{{jugador.Nombre}}</td>
							<td ng-click="check(jugador.Nombre, jugador.Checked)">{{jugador.Checked}}</td>
							<td></td>
							<td ng-click="delete(jugador.Nombre)" class="delete">Delete</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>

		<div data-role="footer" data-theme="a" data-position="fixed">
			<div class="ui-grid-a">
				<div class="ui-block-a">
					<div ng-show="estshow">
						<p> </p>
					</div>
					<div ng-show="proxshow">
						Zoom: {{nZoom}}
					</div>
					<div ng-show="jugshow">
						Cantidad jugadores: {{cantJugadores}}
					</div>
				</div>
				<div class="ui-block-b">
						{{ErrorDeConexion}}
				</div>
			</div><!-- /grid-a -->


		</div>
	</div>




</body>
</html>